* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: darkslateblue;
}

.logo {
  color: aliceblue;
  font-size: 20px;
  letter-spacing: 5px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
  text-decoration: none;
  color: aliceblue;
}

.nav-links li {
  list-style: none;
}

.burger-menu {
  display: none;
}
.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: aliceblue;
  margin: 4px;
  transition: all 3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger-menu {
    display: block;
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line-one {
    transform: rotate(-60deg) translate(-5px, 6px);
  }
  .toggle .line-two {
    /* transform: rotate(-60deg) translate(5px, -6px); */
  }
  .toggle .line-three {
    transform: rotate(-60deg) translate(5px, -6px);
  }
}

footer {
  position: absolute;
  height: 8vh;
  width: 100%;
  bottom: 0;
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
